<h1> Create a new Post!</h1>

<form action='/posts' method='POST'>
  <input type='text' name ='title' placeholder='TIT-EL-AY'><br>
  <textarea name='body' rows="4" cols="50" >
  </textarea><br>
  <input type='submit' value ='MAKE A NEW POST!!!!!!!!!!!!!!!!!'>

</form>

